.btn-primary {
    background: #3187B1 !important;
    border-color: #3187B1 !important;
}

.swal2-confirm {
    background: #0a324f !important;
    border-color: #0a324f !important;
}

.table-header-css tr th {
    background-color: #0a324f !important;
    color: white;
}

.product-in-td{
    border: 1px solid #0a324f;
    border-radius: 10px;
    padding: 10px;
}

th, td{
    text-align: center !important;
    vertical-align: middle !important;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}